:local(.App) {
    font-size: 16px;
    color: #333;
    position: relative;
    display: flex;
    height: 100%;
    h1:first-child,
    h2:first-child,
    h3:first-child {
        margin-top: 0;
    }
    .Readme img {
        width: 150px;
        height: 90px;
        background: #eee;
    }

    .AppHeader {
        z-index: 2;
    }
    .AppBody {
        display: flex;
        flex: 1;
    }
    .AppMenu {
        min-width: 250px;
        width: 250px;
    }
    .AppContent {
        z-index: 1;
        padding: 20px;
        flex: 1;
    }

    .ButtonsExample {
        button + button,
        .Button + .Button {
            margin-left: 10px;
        }
    }

    @media (max-width: 480px) {
        .ButtonsExample {
            button,
            .Button {
                &:not(.inline) {
                    display: block;
                    width: 100%;
                }
            }
            button + button,
            .Button + .Button {
                margin-left: 0px;
                margin-top: 10px;
            }
        }
    }
    @media (max-width: 768px) {
        .AppBody {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}
