.App {
    font-size: 14px;
}
.App > header {
    background: #333;
    color: white;
    padding: 20px;
}
.App > header h1 {
    color: white;
}

h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 40px;
}
.content {
    margin: 0 auto;
    max-width: 1280px;
}
.example > header {
    margin-bottom: 20px;
}
.example h3 {
    margin-bottom: 5px;
}
.example li + li {
    margin-top: 20px;
}
.example code {
    font-size: small;
}
.push {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    background: #eee;
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}
nav ul li {
    display: flex;
}
nav ul li + li {
    margin-left: 10px;
}
nav li a {
    padding: 5px;
}

form {
    padding: 10px;
}
form[disabled] * {
    pointer-events: none;
}
form[disabled] button {
    opacity: 0.9;
}

button {
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
}
button + button {
    margin-left: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
