:local(.Examples) {
    display: flex;

    .push {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button + button {
        margin-left: 10px;
    }

    > .Content {
        padding: 20px;
        flex: 1;
    }
}

:local(.Examples) > nav {
    background: #eee;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 25%;
    max-width: 350px;

    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
        padding: 0;
    }

    li + li {
        margin-top: 10px;
    }

    a {
        display: block;
        color: #1890ff;
        padding: 10px 20px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &.active {
            background: #1890ff;
            color: white;
        }
    }
}
