:local(.LoadingOverlay) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lighten(#094277, 5%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    .Logo .Logo-outer {
        background: transparent;
    }
    transition: opacity 0.5s;
    opacity: 0;
    &.visible {
        opacity: 1;
    }
}
