@import "../../styles/mixins.scss";
.AppMenu {
  user-select: none;
  display: flex;
  flex-direction: column;
  background: #eee;

  .AppMenu--inner {
    position: sticky;
    top: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #eee;

    @include medium-screen {
      height: 100%;
      flex: 1;
      box-shadow: none;
      backface-visibility: hidden;
      perspective: 1000;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.2s ease-in-out;
    }
  }

  a {
    display: block;
    color: #1890ff;
    padding: 10px 20px;
    text-decoration: none;
    &:hover {
      background: rgba(black, 0.1);
      text-decoration: none;
    }
    &:active,
    &:focus {
      background: rgba(#1890ff, 0.3);
    }
    &.active {
      background: #1890ff;
      color: white;
    }
  }

  .AppMenu--mobile-overlay {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    @include large-screen {
      display: none;
    }
  }

  .AppMenu--mobile-header {
    z-index: 1;
    background: #094277;
    height: 48px;
    display: none;
    @include medium-screen {
      display: flex;
    }
  }
  .AppMenu--contents {
    z-index: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: initial;
      width: 5px;
      height: 10px;
    }
    h4 {
      margin-left: 20px;
    }
  }

  .AppMenu--mobile-close {
    display: none;
    color: white;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    outline: none;

    svg {
      margin-right: 10px;
      font-size: 2.5rem;
      overflow: visible;
      path:not([fill="none"]) {
        fill: white;
      }
    }

    @include medium-screen {
      display: flex;
    }
  }

  @include medium-screen {
    pointer-events: none;
    background: none;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  &.show-mobile-menu {
    pointer-events: all;
    .AppMenu--inner {
      transform: translate3d(0%, 0, 0);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }
    .AppMenu--mobile-overlay {
      opacity: 1;
    }
  }
}
