@import 'styles/mixins.scss';
:local(.AppMenu) {
    background: #eee;
    user-select: none;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;

    width: 250px;
    height: 100vh;

    @include medium-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        box-shadow: none;
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.2s ease-in-out;
        .menuVisible & {
            transform: translate3d(0%, 0, 0);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        }
    }

    .AppMenu--mobile-header {
        background: #094277;
    }
    .AppMenu--contents {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: initial;
            width: 5px;
            height: 10px;
        }
    }

    .AppMenu--mobile-close {
        display: none;
        color: white;
        background: none;
        appearance: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        align-items: center;
        outline: none;

        svg {
            margin-right: 10px;
            font-size: 2.5rem;
            overflow: visible;
        }

        @include medium-screen {
            display: flex;
        }
    }
}
