:local(.AppHeader) {
    background: #094277;
    color: white;
    padding: 20px;
    user-select: none;
    display: flex;
    align-items: baseline;

    > .title {
        color: white;
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-right: 10px;
    }
    .show-mobile-menu {
        cursor: pointer;
        margin-right: 10px;
        font-size: 2.5rem;
        overflow: visible;
    }

    @media (max-width: 768px) {
        position: sticky;
        top: 0;
        padding: 10px;
        font-size: 12px;
        > .info {
            display: none;
        }
        > .title {
            font-size: 1.2rem;
            span {
                position: relative;
                top: -1px;
            }
        }
    }
}
