:local(.Markdown) {
    margin-bottom: 50px;

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    table td,
    table th {
        padding: 5px;
        border-bottom: 1px solid #eee;
    }
    table thead th {
        border-bottom: 1px solid #ccc;
    }

    h2:not(:first-child),
    h3:not(:first-child) {
        margin-top: 40px;
    }
}
