:local(.HTMLExample) {
    button.success {
        background: green;
        color: white;
    }
    button.error {
        background: red;
        color: white;
    }
    button.busy {
        border-color: orange;
    }
}
