:local(.VanillaExample) {
    // this is simply some default styling
    button {
        appearance: none;
        outline: none;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 5px 15px;
        border-radius: 3px;
        &:hover {
            border-color: #aaa;
        }
        & + button {
            margin-left: 10px;
        }
    }

    // these are the relevant rules and styles of the example
    button[disabled] {
        pointer-events: none;
        opacity: 0.8;
    }
    button.busy {
        animation: pulse-busy 1s infinite ease-in-out;
    }
    button.success {
        background: rgb(0, 155, 0);
        color: white;
    }
    button.error {
        background: rgb(165, 0, 0);
        color: white;
    }
}

@keyframes pulse-busy {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
