:local(.VanillaExample) {
    button {
        padding: 5px 15px;
        &:hover {
            outline: 1px solid #ccc;
        }
    }
    button.success {
        background: rgb(0, 201, 0);
        color: white;
    }
    button.error {
        background: red;
        color: white;
    }
    button.busy {
        animation: busy 1.5s infinite;
        :hover {
            animation: none;
        }
    }
}

@keyframes busy {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(24, 180, 253, 0.5);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(24, 180, 253, 0.5);
    }
}
