:local(.VanillaExample) {
    button {
        appearance: none;
        outline: none;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 5px 15px;
        border-radius: 3px;
    }
    button:hover {
        outline: 1px solid #ccc;
    }
    button + button {
        margin-left: 10px;
    }
    button[disabled] {
        pointer-events: none;
        opacity: 0.8;
    }
    button.busy {
        animation: pulse-busy 1s infinite ease-in-out;
    }
    button.success {
        background: limegreen;
        color: white;
        animation: pulse-success 1s 1 ease-in-out;
    }
    button.error {
        background: red;
        color: white;
        animation: pulse-error 1s 1 ease-in-out;
    }
}

@keyframes pulse-busy {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulse-success {
    0% {
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(0, 255, 42, 0.5);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 6px 6px rgba(0, 255, 42, 0.5);
    }
}

@keyframes pulse-error {
    0% {
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 6px 6px rgba(255, 0, 0, 0.5);
    }
}
