:local(.AntDExample) {
    .ant-btn.success,
    .ant-btn.ant-btn-primary.success,
    .ant-btn.ant-btn-danger.success {
        background: green !important;
        color: white !important;
    }
    .ant-btn.error,
    .ant-btn.ant-btn-primary.error,
    .ant-btn.ant-btn-danger.error {
        background: red !important;
        color: white !important;
    }
}
